

<div class="container" ng-controller="AptsController"  >
<!--<div class="container" ng-init="initiateApp(); ng-init="initiateLeaflet(); " ng-controller="AptsController">-->
	<div class="page-header" id="banner">
		<div class ="row">
			<h1 id='top_header' ng-controller="AptsController">Get Apartments data</h1>
			<!--<form method="get" ng-click='getTrafik();'>
				<button class="btn btn-primary btn-large" type="submit">Get Departures</button>
			</form>-->
			<div class="col-md-6">
				<div id='query_box'class="form-group col-md-12">
			    	<label>Test query: <br> select substr(date::text,0,11) as date, address, sqm, floor, listprice, soldprice, round(lon::numeric,7) as lon, round(lat::numeric,7) as lat from apartments limit 2</label>
			    	<div class="form-group">
			    		<input class="col-md-4 form-control" ng-model="query_in">
			    	</div>
			  	</div>
			  	
			  	<div class="col-md-6">
					<form class="col-md-2" method="get" ng-click='getApartments();'>
						<button class="btn btn-primary btn-large" type="submit">Excecute Manual Query</button>
					</form>
				</div>
			</div>

			<div class="col-md-6">
			</div>
			<div class="col-md-6">
				<p> Or execute a test data set: </p>
				<div class="col-md-12">
					<form class="col-md-2" method="get" ng-click='getTestApartments();'>
						<button class="btn btn-primary btn-large" type="submit">Excecute Test Query</button>
					</form>
				</div>
			</div>

			<table class="table table-striped">
				<tr class="tableHeader">
					<th class="col-md-1" ng-repeat="th in query_keys">{{th}}</th>
				</tr>
				<tr ng-repeat="x in query_data">
					<td ng-repeat="th in query_keys">
						{{ x[th]}}
					</td>
				</tr>
			</table>
		</div>
	</div>
	
</div>

