

<div class="container" ng-controller="AppCtrl"  >
<!--<div class="container" ng-init="initiateApp(); ng-init="initiateLeaflet(); " ng-controller="AppCtrl">-->
	
	<h1 ng-controller="AppCtrl">Get Departures</h1>
	<!--<form method="get" ng-click='getTrafik();'>
		<button class="btn btn-primary btn-large" type="submit">Get Departures</button>
	</form>-->

	<textarea
		ng-model="query_input"
		[name="string"]
		[required="string"]
		[ng-required="string"]
		[ng-minlength="200 px"]
		[ng-maxlength="number"]
		[ng-pattern="string"]
		[ng-change="string"]
		[ng-trim="boolean"]>
	</textarea>
	<div class="col-md-12">
		<form class="col-md-2" method="get" ng-click='getApartments();'>
			<button class="btn btn-primary btn-large" type="submit">Get trafiklab</button>
		</form>
		<form class="col-md-2" method="get" ng-click='getTestApartments();'>
			<button class="btn btn-primary btn-large" type="submit">Get 10 rows from apartments </button>
		</form>
	</div>
	<div class="col-md-12">

	<table class="table table-striped">
		<tr class="tableHeader">
			<th class="col-md-1" ng-repeat="th in query_keys">{{th}}</th>
		</tr>
		<tr ng-repeat="x in query_data">
			<td ng-repeat="th in query_keys">
				{{ x[th]}}
			</td>
		</tr>
	</table>
	
</div>

