

<div class="container" ng-controller="PlotDistanceController">
<!--<div class="container" ng-init="initiateApp(); ng-init="initiateLeaflet(); " ng-controller="AptsController">-->
	<!-- <div class="page-header" id="banner"> -->
		<!-- <div class ="row"> -->
			<!-- <h3 id='top_header'>Distance To Central Station in minutes</h3> -->
			<!--<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item">Each square is 110m x 110m</li>
					<li class="list-group-item">Each square may contain multiple apartments</li>
				</ul>
			</div>-->
			<!--<form method="get" ng-click='getTrafik();'>
				<button class="btn btn-primary btn-large" type="submit">Get Departures</button>
			</form>-->
			<!-- <div class="col-md-12"> -->
				<!--<div class="col-md-3">
					<form  method="get" ng-click='getApartmentsToPlot();'>
						<button class="btn btn-primary btn-large" type="submit">Get Apartments</button>
					</form>
				</div>-->
				<!--<div class="col-md-3">
					<p> Filter Apartments, only show transactions after date: </p> 
				</div>

				<div class="col-md-4 bottom-buffer" >
					<rzslider  rz-slider-model="slider.date"
					rz-slider-options="slider.options"></rzslider>
				</div>-->

			 
			<!-- </div> -->
		<!-- </div> -->
		
<!-- </div> -->
</div>
<div id="mapid"></div>
